head
	//Load in jQuery
	script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	//Define Charset
	meta(charset = "utf-8")
	//Gives responsive website:
	meta(name = "viewport", content = 'width = device-width', initial-scale = '1')
	//Link in Bootstrap:
	link(rel = "stylesheet", href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel = "stylesheet", href = "./styles.css")

//- style.
//- 	body{
//- 		font-family: Menlo;
//- 		font-size: 14px;
//- 		color: #000000;
//- 		background: linen;
//- 		background: url(https://cdn.shutterstock.com/shutterstock/videos/754483/thumb/1.jpg);
//- 		background-repeat: no-repeat;
//- 	}
//- 	div{
//- 		background: #999999
//- 	}
//- 	h1{
//- 		border: Purple;
//- 		border-width: 5px;
//- 		border-style: solid;
//- 	}
//- 	#zapdosItems{
//- 		color: rgba(10, 10, 10, 0.6);
//- 		text-shadow: 1px 1px #ff0000;
//- 		background: linen;
//- 	}
//- 	#loremIpsumBlockText{
//- 		color: Red;
//- 		font-size: 11px;
//- 	}
//- 	#birdItems{
//- 	 	font-size: 18px;
//- 	}
//- 	#banner{
//- 		font-size: 35px;
//- 		color: Purple;
//- 	}



